.sentence {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
.token {
    --base: 40px;
	outline: 1px solid black;
	margin:  0.5em 0 0.5em 0;
    display: flex;
    flex-direction: column;
  	align-self: flex-start
  }
.morae, .times {
    display: flex;
  }
.mora, .punc {
	width: var(--base);
	height: var(--base);
  	outline: 1px dotted black;
 	display: flex;
 	justify-content: center;
 	align-items: center;
    text-align: justify;
}
.time {
	width: var(--base);
	height: calc(var(--base) * 0.75);
  	outline: 1px dotted black;
 	display: flex;
 	justify-content: center;
 	align-items: center;
    text-align: justify;
}
.time-5sec {
    font-weight: bold;
    background-color: yellow
}
.punc { background-color: lightgray }
.surface, .pos {
    width: 100%;
    height: calc(var(--base) * 0.75);
    display: flex;
    outline: 1px dotted black;
 	justify-content: center;
 	align-items: center;
  }

@media print{
  .not-print, .popover {display:none;}
}